/* import colors */
@import './colors.css';
.main {
  background-color: var(--white);
  color: var(--dark);
  position: relative;
}
.box {
  background-color: var(--dark);
  color: var(--white);
  width: 100px;
  height: 100px;
  position: absolute;
}